<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Where's my bike??</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center light-blue-text">Where's my bike?</h1>
            <script id="albums-template" type="text/x-handlebars-template">
                <div class="row center">
                    <h5 class="header col s12 light">Hi (User)! Your bike is at (input one) and (input two)!</h5>
                </div>
            </script>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="section col s12">
            <div class="row col s12">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="fa fa-bicycle" aria-hidden="true"></i></h2>
                    <form class="col s12">
                        <div class="input-field col s6">
                            <input id="streetOne" type="text" class="validate" name="streetOne">
                            <label for="streetOne">Street One</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="streetTwo" type="text" class="validate" name="streetTwo">
                            <label for="streetTwo">Street Two</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="textarea1" type="text" class="materialize-textarea" name="noteToSelf" length="120"></textarea>
                                <label for="textarea1">Dear future self...</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col s12 ">
                        <div id='locationsTarget'>

                        <script id="locations-template" type="text/x-handlebars-template">

                            <table class="table table-striped table-hovers">
                                <tr>
                                    <th COLSPAN="6">
                                        <br>
                                        <h3>Places you've parked</h3></th>
                                </tr>

                                {{#each locations}}
                                <tr align="center">
                                    <td>{{streeOne}}</td>
                                    <td>{{streetTwo}}</td>
                                    <td>{{noteToSelf}}</td>
                                    <td>
                                        <button type="button" name="button" class="deleteBtn btn btn-danger center" data-id="{{_id}}">Delete</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </script>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="section">
    </div>
    <footer class="page-footer green darken-3 parkingHistory">








        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="https://github.com/JsonLitz">jSON</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js">
        </script>
    <script src="js/app.js"></script>
</body>

</html>
