/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /*Custom styles should be ordered from most general (element selectors) to most specific (classes)*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.parkingHistory {
    text-align: center;
}

input {
    color:black;
}

.login {
    padding-left: 25px;

}
